<%= content_for(:title,  '端口密码列表 | GWF') %>
<section class="content-header">
  <h1>
    端口密码 <small>预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-btc"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-btc"></i> 端口密码</li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <a href="<%= new_admin_list_path %>" class="btn bg-primary btn-flat"><i class="ion-plus"></i> 添加账户</a>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">备注</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">端口</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">用量</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">总量</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">比例</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center;width: 180px">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @lists.each do |item| %>
              <tr style="text-align: center">
                <td><%= item.label %></td>
                <td><%= item.server_port %></td>
                <td><%= number_to_human_size item.used_bytes if item.used_bytes %></td>
                <td><%= number_to_human_size item.total_bytes if item.total_bytes %></td>
                <td>
                  <div class="progress">
                    <div class="progress-bar progress-bar-aqua" style="width: <%= item.usage_amount %>%">
                      <p style="text-align: right;color: #000"><%= item.usage_amount %>%</p>
                    </div>
                  </div>
                </td>
                <td>
                  <a href="<%= edit_admin_list_path(item) %>" class="btn bg-orange btn-flat">
                    <i class="glyphicon glyphicon-edit"></i>
                    编辑
                  </a>
                  <a href="<%= admin_list_path(item) %>" class="btn bg-red btn-flat" data-method="delete" data-confirm="确定删除该配置">
                    <i class="glyphicon glyphicon-trash"></i>
                    删除
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h5>总计：「<%= @lists.count %>」账户</h5></div>
        </div>
        <div class="col-sm-12">
          <div class="dataTables_paginate paging_simple_numbers">
          <%= will_paginate @lists, :class=>'apple_pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>